@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

/* Standard layout */
html {
	min-height:100%;
	display:grid;
}

body {
	font-family: roboto,lato,sans-serif;
}

/* Login/Error pages */

.login-body, .error-body {
	background-color: #060416;
	margin: auto;
	background-image: url("/theme/images/background.svg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;	
} 

.login-body > form, .dialog-box {
	padding: 1rem 1rem 1rem 1rem;
	margin: 1rem 1rem 7rem 1rem;
	border: 1px solid #817777;
	background-color: #999494;
	border-radius: 13px;
	text-align: center;
	width: 21rem;
}

.login-body h1, .dialog-box h1 {
	font-size: 1.5rem;
	font-weight: normal;
	margin: 0 auto 1.2rem auto;	
	color: #4A4A4A;
}

.login-body input[type="text"], .login-body input[type="password"] {
	width: 100%;
	outline: none;
	background-color: #fff;
	border-radius: 4px;
	border: none;
	display: block;
	padding: 0.7rem;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	font-size: 17px;
	color: #4A4A4A;
	margin: auto;
}

.login-body input::placeholder {
	font-weight: lighter;
	opacity: 0.5;
	color: #4A4A4A;
	text-transform: capitalize;
}

.login-body input[type="submit"] {
	outline: none;
	border: none;
	cursor: pointer;
	display: inline-block;
	margin: 1rem auto 0 auto;	
	padding: 0.9rem 2.5rem;
	text-align: center;
	background-color: #47AB11;
	color: #fff;
	border-radius: 4px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	font-size: 17px;
}

.error-body div {
	display: inline-block;
}

.error-body img {
	height: 80px;
}

.error-body h1 {
	margin: 0px 3px 6px 3px;
	text-align: center;
}

.error-body p {
	margin:0px 3px 6px 3px;
}
