<!DOCTYPE html>
<html lang="en">
<head>
	<title>${login-title}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="noindex, follow" />
	<link rel="stylesheet" type="text/css" href="${css-path}" />  
</head>
<body class="login-body">
  <form action="${action}" method="post">
	<h1>${login-title}</h1>
	<input type="text" required id="username" name="username" placeholder="${user-label}" value="${username}" /></p>
	<input type="Password" required id="password" placeholder="${password-label}" name="password" /></p>
	<!-- input type="hidden" name="client_id" value="${client-id}" -->
	<!-- input type="hidden" name="redirect_uri" value="${redirect-uri}" -->
	<!-- input type="hidden" name="response_type" value="${response-type}" -->
	<input type="hidden" name="state" value="${authentication-state}">
	<p>${login-message}</p>
	<input type="submit" value="${login-button}">
  </form>
</body>
</html>

