<!DOCTYPE html>
<html lang="%{lang}">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="noindex, follow" />
	<title>%{page-title}</title>
	<link rel="stylesheet" type="text/css" href="%{page-style}" />
</head>
<body>
	<!--header><nav>%{navbar}</nav></header -->
	<!-- The primary content unique to this specific page -->
	<main>
      	<!-- Static Page Summary: Gives a quick overview of the unique page content -->
        <!-- section class="system-state" aria-label="system-state">
		 	%{page-summary}
        </section -->
		%{page-contents}
	</main>
	<!-- aside></aside -->
	<!-- footer></footer -->
</body>
</html>

