<!DOCTYPE html>
<html lang="%{lang}">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="noindex, follow" />
	<title>%{page-title}</title>
	<link rel="stylesheet" type="text/css" href="/theme/style.css" />
</head>
<body>
	<header>
		<img class="logo-icon" src="/theme/logo/light-inline.svg" />
		<h1>%{HOSTNAME}</h1>
		<span class="userbox">
			Username
			<img class="user-icon" src="/icon/avatar-default" />
		</span>
	</header>
	<!-- nav>%{navbar}</nav -->
	<!-- The primary content unique to this specific page -->
	<main>
      	<!-- Static Page Summary: Gives a quick overview of the unique page content -->
        <!-- section class="system-state" aria-label="system-state">
		 	%{page-summary}
        </section -->
		%{page-contents}
	</main>
	<!-- aside></aside -->
	<!-- footer></footer -->
</body>
</html>

